{% extends 'base.html' %}
{% load static %}
{% block title %}Buy tickets{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/book_ticket.css' %}">
{% endblock %}

{% block content %}
    {% include "navbar.html" %}

    <div id="center-details-container" class="tickets-container">
        <div class="container" id="buy_ticket-container">
            <div id="buy-tickets-text">
                <p3><b>Details</b></p3>
            </div>
            <br>
            <div class="padding">
                <div id="information"></div>
            </div>
            <div id="details-container-data"></div>
            <div class="padding">
                <button id="cancel-form-button" class="btn btn-danger order" onclick="off()">cancel</button>
            </div>
        </div>
    </div>


    <div id="center-buy_ticket-container" class="tickets-container">

        <div class="container" id="buy_ticket-container">
            <div id="buy-tickets-text">
                <p3><b>Buy tickets</b></p3>
            </div>
            <br>
            <div id="buy_ticket-container-data"></div>
            <div id="seats-chosen"></div>
            <div id="message"></div>
            <div id="buy-ticket-form">
                <div id="content">
                    <div id="buy-ticket-form-number">
                        <nobr>
                            <button class="btn btn-outline-danger" id="remove-ticket" onclick="remove_ticket()">-
                            </button>
                            <div id="ticket-number">0</div>
                            <button class="btn btn-outline-success" id="add-ticket" onclick="add_ticket()">+</button>
                        </nobr>
                    </div>
                </div>
                <div class="padding">
                    <button id="accept-form-button" class="btn btn-success" onclick="accept_tickets()">buy tickets
                    </button>
                </div>
                <button id="cancel-form-button" class="btn btn-danger" onclick="off()">cancel</button>
            </div>
            <div id="authorization-message-end">
                <div id="button-authorization-message">
                    <button id="authorization-message-end-button" class="btn btn-success">OK</button>
                </div>
            </div>
            <div class="padding">
                <div id="enter-authorization-code">
                    <form id="authorization-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label for="input-authorization-code">Enter the authorization password:</label>
                        <input type="hidden" id="seats_ordered" name="seats_ordered" value="">
                        <input type="hidden" id="date_order" name="date" value="">
                        <input type="hidden" id="band_order" name="band" value="">
                        <input id="input-authorization-code" name="authorization_code" class="form-control" type="text">
                        <button id="accept-code-button" type="submit" class="btn btn-success auth-code">accept</button>
                    </form>

                    <button id="resend-code-button" class="btn btn-secondary auth-code">send again</button>
                    <button id="cancel-code-button" class="btn btn-danger auth-code">cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div id="overlay"></div>

    <div id="tickets-table">
        <table class="table" id="concerts-table">
            <thead class="thead-light" id="thead-tickets">
            <tr>
                <th scope="col" id="concert-id">#</th>
                <th scope="col" id="location">Location</th>
                <th scope="col" id="event_type">Event type</th>
                <th scope="col" id="seats_left">Seats left</th>
                <th scope="col" id="price">Price [$]</th>
                <th scope="col" id="date">Date</th>
                <th scope="col" id="details">Details</th>
                <th scope="col" id="but-tickets-btn">Buy Ticket</th>
            </tr>
            </thead>
            <tbody id="display-concerts-tbody">
            </tbody>
        </table>
    </div>

{% endblock %}

{% block javascript %}
    <script src="{% static 'js/book_ticket.js' %}"></script>
{% endblock %}