<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">The One</a>
    <button class="navbar-toggler navbar-dark my-sm-3" type="button" style="border-color: gray" data-toggle="collapse"
            data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'buy_tickets' %}">
                    <span class="fa fa-globe" aria-hidden="true"></span>&nbsp; Events
                </a>
            </li>

            <li class="nav-item ">
                <form class="form-inline my-2 my-lg-0" role="search" method="get" action="#">
                    <input class="form-control mr-sm-2" type="search" value="{{ request.GET.q }}" placeholder="Search"
                           name="q" aria-label="Search">&nbsp;
                    <button class="btn btn-light my-2 my-sm-0" type="submit">Search</button>
                </form>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
                <li class="nav-item nav-item mr-sm-3">
                    <a class="nav-link" href="#">
                        <span class="fa fa-plus" aria-hidden="true"></span>&nbsp;
                        <p1><b>Logged as:</b> {{ request.user.username }}</p1>
                    </a>
                </li>
            {% endif %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-power-off" aria-hidden="true"></span>&nbsp;
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    {% if user.is_authenticated %}
                        <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>

                        <a class="dropdown-item" href="{% url 'login' %}">Log out</a>
                    {% else %}
                        <a class="dropdown-item" href="#">Log in</a>
                        <a class="dropdown-item" href="#">Register</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</nav>